@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Várivaeis para cor*/
:root{
    --rocketseat-color: #7159c1;
    --secondary-color: #F7DF1E; 
}

/*Zerando as pré-definições do navegador*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--rocketseat-color);
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a{
     text-decoration: none;
     color: #777;
     position: relative;
}

.links a.active{
    font-weight: bold;
    color: var(--rocketseat-color);
    
}

.links a:hover{
    color: var(--rocketseat-color);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--rocketseat-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* === CARD === */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    /*Espaçamento ao centro*/
    margin: 48px auto;

    /*Dividir box ao meio*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*Sombra*/
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.7);

    /*animation nome tempo e modo*/
    animation: up 700ms ease-in-out;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

/* DETAILS */

.details{
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

/*Modificar somente o último*/
.details .item:last-child{
    border-bottom: none;
}

/*Modificar somente a primeira div*/
.details h3,
.details .tem div:nth-child(1){
    color: #777;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;

    /*Espaçamento estre as letras*/
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2){
    color: #555;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.details h3{
    /*Texto em capslock*/
    text-transform: uppercase;

    font-weight: bold;
    color: var(--rocketseat-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;

    /*Por padrão span é inline*/
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* === FORM === */

input{
    width: 100%;
    outline: none;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    background-color: var(--rocketseat-color);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    margin-top: 32px;
    padding: 8px 32px;
    width: 100%;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

